﻿@{
    ViewData["Title"] = "Create";
}

<div>
    <form action="/Cuenta/Create" method="post">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="Nombre" value="@Model.Nombre" />
            @Html.ValidationMessage("Nombre")
        </div>
        <div class="form-group">
            <label>Categoria</label>
            <select class="form-control" name="Categoria">
                <option value="">--Seleccione una categoria</option>
                <option value="Propio">Propio</option>
                <option value="Credito">Credito</option>
            </select>

        </div>
        <div class="form-group">
            <label>Saldo Inicial</label>
            <input type="text" class="form-control" name="SaldoIni" value="@Model.SaldoIni" />
            @Html.ValidationMessage("Nombre")
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Guardar</button>
            <a href="/Usuario/index" class="btn btn-primary" role="button">Cancelar</a>
        </div>
    </form>
</div>
