﻿@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Nombre</h1>
<div class="row my-3">
    <div class="col-6">
        <a href="/Gasto/Create?id_cuenta=@Model.Id" class="btn btn-warning">Nuevo Gasto</a>
        <a href="/Ingreso/Create?id_cuenta=@Model.Id" class="btn btn-success">Nuevo Ingreso</a>
    </div>
    <div class="col-6">
        <a href="/Usuario/Index" class="btn btn-outline-dark">Atras</a>
    </div>
</div>
<h5>@Model.SaldoIni</h5>
<div class="row">
    <div class="col-6">
        <h5>Ingresos</h5>
        <div>
            <table class="table table-bordered">
                <thead>
                <th>FechaHora</th>
                <th>Descripcion</th>
                <th>Monto</th>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ingresos)
                    {
                        <tr>
                            <td>@item.FechaHora </td>
                            <td>@item.Descripcion</td>
                            <td>@item.Monto</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6">
        <h5>Gastos</h5>
        <div>
            <table class="table table-bordered">
                <thead>
                <th>FechaHora</th>
                <th>Descripcion</th>
                <th>Monto</th>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.gastos)
                    {
                        <tr>
                            <td>@item.FechaHora </td>
                            <td>@item.Descripcion</td>
                            <td>@item.Monto</td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>
    
</div>

