﻿@{
    ViewData["Title"] = "Create";
}

<div>
    <form action="/Amistad/Create" method="post">
        <input type="hidden" class="form-control" name="Amigo1" value="@Model.Amigo1" />
        <div class="form-group">
            <label>Cuenta desde</label>
            <select class="form-control" name="Amigo2">
                <option value="">--Seleccione una persona</option>
                @foreach (var item in ViewBag.personas)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Agregar</button>
            <a href="/Amistad/index" class="btn btn-primary" role="button">Cancelar</a>
        </div>
    </form>
</div>