﻿@{
    ViewData["Title"] = "Index";
}

<h1>Cuentas</h1>
<div class="row my-3">
    <div class="col-6">
        <a href="/Amistad/Create" class="btn btn-warning">Agregar Amigo</a>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <h5>Amigos</h5>
        <table class="table table-bordered">
            <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id </td>
                        <td>@item.Nombre </td>
                        <td><a href="/Amistad/Transaccion?id_amigo=@item.Id">Yapear</a> </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h5>Solicitudes de amistad</h5>
        <table class="table table-bordered">
            <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.solicitudes)
                {
                    <tr>
                        <td>@item.Id </td>
                        <td>@item.Nombre </td>
                        <td><a href="/Amistad/Aceptar?id_amigo=@item.Id">Aceptar amistad</a> </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

