﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="row my-3">
    <div class="col-6">
        <a href="/Usuario/Login" class="btn btn-success">Iniciar Sesion</a>
    </div>
    <div class="col-6">
        <a href="/Usuario/Registro" class="btn btn-primary">Registrarse</a>
    </div>
</div>
