﻿@{
    ViewData["Title"] = "Create";
}

<h1>Crear Ingreso</h1>
<div>
    <form action="/Ingreso/Create" method="post">
        <input type="hidden" class="form-control" name="CuentaId" value="@Model.CuentaId" />
        <div class="form-group">
            <label>Fecha y hora</label>
            <input type="datetime" class="form-control" name="FechaHora" value="@Model.FechaHora" />
        </div>
        <div class="form-group">
            <label>Descripcion</label>
            <input type="text" class="form-control" name="Descripcion" value="@Model.Descripcion" />

        </div>
        <div class="form-group">
            <label>Monto</label>
            <input type="text" class="form-control" name="Monto" value="@Model.Monto" />
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Guardar</button>
            <a href="/Cuenta/Index?id_cuenta=@Model.CuentaId" class="btn btn-primary" role="button">Cancelar</a>
        </div>
    </form>
</div>
