﻿@{
    ViewData["Title"] = "Create";
}

<div>
    <form action="/Transaccion/Create" method="post">


        <input type="hidden" class="form-control" name="UsuarioOId" value="@Model.UsuarioOId" />
        <input type="hidden" class="form-control" name="UsuarioDId" value="@Model.UsuarioDId" />

        <div class="form-group">
            <label>Cuenta desde</label>
            <select class="form-control" name="CuentaDId">
                <option value="">--Seleccione una cuenta</option>
                @foreach (var item in ViewBag.cuentas)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>

        </div>
        <div class="form-group">
            <label>Cuenta destino</label>
            <select class="form-control" name="CuentaAId">
                <option value="">--Seleccione una cuenta</option>
                @foreach (var item in ViewBag.cuentas)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label>Monto</label>
            <input type="text" class="form-control" name="Monto" value="@Model.Monto" />
            @Html.ValidationMessage("Nombre")
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Guardar</button>
            <a href="/Usuario/index" class="btn btn-primary" role="button">Cancelar</a>
        </div>
    </form>
</div>