﻿@{
    ViewData["Title"] = "Index";
}

<h1>Cuentas</h1>
<div class="row my-3">
    <div class="col-6">
        <a href="/Cuenta/Create" class="btn btn-warning">Nueva Cuenta</a>
        <a href="/Transaccion/Create" class="btn btn-warning">Realizar Transaccion</a>
        <a href="/Amistad/Index" class="btn btn-warning">Amigos</a>
    </div>
    <div class="col-6 align-content-end">
        <a href="/Usuario/Logout" class="btn btn-danger">Cerrar Sesion</a>
    </div>
</div>
<div class="row my-3">
    <h5>Saldo total:  S/. @ViewBag.saldoTotal</h5>
</div>
<div class="row">
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Saldo</th>
            <th>Opciones</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id </td>
                        <td>@item.Nombre </td>
                        <td>@item.Categoria</td>
                        <td>@item.SaldoIni</td>
                        <td><a href="/Cuenta/Index?id_cuenta=@item.Id">Ver Detalles</a> </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <table class="table table-bordered">
            <thead>
            <th>Fecha</th>
            <th>Cuenta Origen</th>
            <th>Cuenta Destino</th>
            <th>Monto</th>
            <th>Descripcion</th>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.transacciones)
                {
                <tr>
                    <td>@item.Fecha </td>
                    <td>@item.CuentaDId</td>
                    <td>@item.CuentaAId</td>
                    <td>@item.Monto</td>
                    <td>@item.Descripcion</td>
                </tr>
                }
            </tbody>
        </table>
    </div>

</div>

