﻿@{
    ViewData["Title"] = "Login";
}
<div class=" row text-center ">
    <div class="col-md-6">
        <form action="/Usuario/Login" method="post">
            <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesion</h1>
            <input name="Nombre" class="form-control" placeholder="Username">
            <input type="password" name="Pass" class="form-control" placeholder="Password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
    </div>
</div>